@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono:ital,wght@0,600;1,400;1,500&display=swap');

@font-face {
  font-family: 'sweetly_scentedregular';
  src: url('./fonts/sweetly_scented_demo-webfont.woff2') format('woff2'), url('./fonts/sweetly_scented_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.input-custom > div {
  min-width: 40%;
}
div.relative.w-full.min-w-\[200px\] {
  min-width: 40%;
}

div.relative.w-full.min-w-\[200px\] > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a.mx-auto.flex.items-center.justify-center.gap-2 {
  display: none !important;
  height: 0;
  width: 0;
}
.card-product-header {
  @apply relative text-center py-3;
}
.card-product-header > .link-all {
  @apply absolute right-0  hover:text-blue-500;
}

.swiper-button-disabled .swipper-back,
.swiper-button-disabled .swipper-next {
  cursor: not-allowed;
  opacity: 0.5;
}
